/* examples/custom-styling.css */
.customOverlay {
    background: rgba(36, 123, 160, 0.7);
  }
  .customModal {
    background: #b2dbbf;
    max-width: 500px;
    width: 100%;
  }

  .about {
    width: 400px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 5%;
  }

  .create-account {
    margin: 5%;
  }

  .features {
    float: left;
    width: 60%;
    margin: 5%;
    text-align: left;
  }

  /* .features ul {
    list-style-type: none;
  } */

  .who-for {
    width: 40%;
    float:right;
    margin: 5%;
  }

 
  button.btn {
    padding: 10;
    height: 30px;
    width: 75;
    border-radius: 10px;
    background-color: teal;
    color: #F3F3E7;
  }

  .header {
    color: #935F4C;
    text-align: center;
  }

  .create-account {
    float: right;
    margin-left: 15%;
    margin-right: 20%;
  }

  section.about {
    text-align: center;
  }

 