.container {
    float: left;
    border: 2px;

}

div.ui.five.cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    border-width: 3px;
}


.scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
  }
  
  